.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  /* background-color: #00acb0; */
  /* background-color: #990000; */
  /* background-color: #660000; */
  /* background-color: #1a1a1a; */
  /* background-color: #333333; */
  background-color: #0d0d0d;
}

.nav-link {
  float: left;
  /* color: #f2f2f2; */
  /* color: #000000; */
  color: white;
  /* background-color: #00acb0; */
  /* background-color: #990000; */
  /* background-color: #660000; */
  /* background-color: #1a1a1a; */
  background-color: #0d0d0d;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  /* background-color: #008183; */
  /* background-color: #990000; */
  /* background-color: #660000; */
  background-color: #0d0d0d;
}

.nav-right {
  float: right;
}